streamlit==1.28.0
pandas==1.5.3
numpy==1.24.4
faiss-cpu==1.7.4
torch==2.0.1 --extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.30.2
sentence-transformers==2.2.2
tqdm==4.65.0
scipy==1.10.1
scikit-learn==1.2.2
